<!--
  Generated template for the AddFruit page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Produce</ion-title>
    <ion-buttons end>
      <button (click)="closeModal()" ion-button icon-only color="dark">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="fruitForm">
    <ion-list>
      <ion-item>
        <!-- TODO: Pull options in dynamically from endpoint -->
        <ion-label>Produce</ion-label>
        <ion-select formControlName="name" required>
          <ion-option *ngFor="let fruit of produceValues" value="{{ fruit.name }}">{{ fruit.name }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [hidden]="!showDescription">
        <ion-label>Description</ion-label>
        <ion-input
          type="text"
          formControlName="description"
          value="{{ fruit.description }}"
          required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Portion</ion-label>
        <ion-select formControlName="portion" required>
          <ion-option *ngFor="let p of portions" value="{{ p }}">{{ p }}</ion-option>
        </ion-select>
      </ion-item>
      <p><small>{{ portionTip }}</small></p>
      <ion-list radio-group formControlName="provided">
        <ion-item>
          <ion-label>Provided</ion-label>
          <ion-radio value="provided" checked="true"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Not Provided</ion-label>
          <ion-radio value="notprovided"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-list
        radio-group
        formControlName="organic"
        [hidden]="fruitForm.controls.provided.value=='provided'"
      >
        <ion-item>
          <ion-label>Organic</ion-label>
          <ion-radio value="organic" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Conventional</ion-label>
          <ion-radio value="notorganic"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-list>
  <div padding>
    <button
      (click)="addFruit()"
      [disabled]="!fruitForm.valid"
      ion-button
      color="secondary" block>Add Produce</button>
  </div>
  </form>
</ion-content>
